@model IReadOnlyList<TopicHistoryEntryViewModel>

<div class="card mb-4">
    <div class="card-header">Історія затвердження тем</div>
    <div class="card-body">
        <partial name="_TopicHistory" model="Model"/>
    </div>
</div>
