{
  "ConnectionStrings": {
    "DefaultConnection": "Host=ep-steep-tree-asvvx4oa-pooler.c-4.eu-central-1.aws.neon.tech;Database=neondb;Username=neondb_owner;Password=YOUR_NEON_PASSWORD;SSL Mode=VerifyFull;Channel Binding=Require"
  },
  "Authentication": {
    "Google": {
      "ClientId": "YOUR_CLIENT_ID.apps.googleusercontent.com",
      "ClientSecret": "YOUR_CLIENT_SECRET"
    }
  },
  "Bootstrap": {
    "AdminEmail": "admin@your-university.edu.ua"
  },
  "Security": {
    "AllowedEmailDomains": [ "your-university.edu.ua" ]
  },
  "FileStorage": {
    "Provider": "Google",
    "GoogleDrive": {
      "ServiceAccountJsonPath": "secrets/google-drive-service-account.json",
      "RootFolderId": "YOUR_DRIVE_ROOT_FOLDER_ID",
      "ImpersonateUserEmail": ""
    }
  }
}
